section.contato{
  padding-top: 30px;
  padding-bottom: 70px;
}

.contato-info h2{
  color: #202020;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contato-info p{
  color: #202020;
  font-size: 15px;
  margin-bottom: 8px;
}

.mapa-container{
  width: 100%;
  padding-top: 60%;
  position: relative;
}

div#mapa{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: gray;
}

.mapa-container img{
  max-width: 100%;
}

.contato-form{
  padding: 0 30px;
  margin-top: 40px;
}

.contato-form input[type=text]{
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 4px 0 rgba(92, 99, 110, 0.1);
  padding-left: 8px;
  font-size: 16px;
}

.contato-form select{
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 4px 0 rgba(92, 99, 110, 0.1);
  padding-left: 8px;
  font-size: 16px;
}

.contato-form textarea{
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 4px 0 rgba(92, 99, 110, 0.1);
  padding: 8px;
  font-size: 16px;
  resize: none;
}

.contato-form input[type=submit]{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 20px 30px 0 rgba(203, 203, 203, 0.2);
  background-color: #212a97;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
}